{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
        <div class="myclass">
        <form action="/card/createNew" method="POST">
                <label for="name">Item Title: </label>
                <input type="text" id="name" name="item_title">
                <label for="desc">Description: </label>
                <input type="text" id="desc" name="desc">
                <label for="name">Due Date: </label>
                <input type="date" id="date" name="date">
                <button type="submit">Create Item</button>
        </form>
    </div>
</div>

<div class="column">
    <div class="col-md-12">
        <h2>To Do</h2>
        <!--        <a href="/sorted_items">Sort by Status</a>-->
        <ul class="list-group mb-4">
            {% for item in todos %}
            {{item.name}}
            <a href="/card/{{ item.id }}">View Details</a>
            <a href="/card/{{ item.id }}/moveToDoing">Set in Progress</a>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="column">
    <div class="col-md-12">
        <h2>In Progress</h2>
        <ul class="list-group mb-4">
            {% for item in doings %}
            {{item.name}}
            <a href="/card/{{ item.id }}">View Details</a>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="column">
    <div class="col-md-12">
        <h2>Completed</h2>
        <ul class="list-group mb-4">
            {% for item in dones %}
            {{item.name}}
            <a href="/card/{{ item.id }}">View Details</a>
            <a href="/card/{{ item.id }}/moveToDoing">Make Incomplete</a>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}