{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>                {{items.name}} -
                <a href="/">Back</a></h2>
        <ul class="list-group mb-4">
<!--            <ul>-->
<!--                {{items.name}} - {{items.status}} - -->
<!--                <a href="/">Back</a>-->
<!--            <ul>-->
                {% for item in checklist %}
                {{item.name}} - {{item.state}}
                <a href="/">Complete Checklist Item</a>
                <br>
                {% endfor %}
            </ul>
            </ul>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="/item/{{ items.id }}/complete">
            <button type="submit" class="btn btn-success">Complete Item</button>
        </form>
        <br>
        <form action="/item/{{ items.id }}/delete">
<!--            <button type="submit">Delete Item</button>-->
            <button type="submit" class="btn btn-danger">Delete Item</button>
        </form>
    </div>
</div>
{% endblock %}