{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> {{items.name}} </h2>
        <h7>Description: {{items.desc}}</h7>
        <br>
        <h7>Due Date: {{items.due}}</h7>
        <br>
        <a href="/">Edit Card</a></h2>
        <br>
        <br>
        <h7><b>Checklist: </b></h7>
        <ul class="list-group mb-4">
            {% for item in checklist %}
            {{item.name}} - {{item.state}}
            <h7><a href="/card/{{ items.id }}/checklistItem/{{ item.id }}/complete">Complete</a> /
                <a href="/card/{{ items.id }}/checklistItem/{{ item.id }}/delete">Delete</a>
            </h7>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h7><b>Add New Checklist Item</b></h7>
        <form action="/card/{{ items.id }}/checklistItem/createNew" method="POST">
            <label for="name">Item Title: </label>
            <input type="text" id="name" name="item_title">
            <button type="submit">Create Item</button>
        </form>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="/card/{{ items.id }}/complete">
            <button type="submit" class="btn btn-success">Complete Item</button>
        </form>
        <br>
        <form action="/card/{{ items.id }}/delete">
            <button type="submit" class="btn btn-danger">Delete Item</button>
        </form>
        <br>
        <a href="/">Back</a></h2>
    </div>
</div>
{% endblock %}