{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> {{items.name}} -
            <a href="/">Back</a></h2>
        <ul class="list-group mb-4">
            {% for item in checklist %}
            {{item.name}} - {{item.state}}
            <a href="/item/{{ items.id }}/checklistItem/{{ item.id }}/complete">Complete Checklist Item</a>
            <a href="/item/{{ items.id }}/checklistItem/{{ item.id }}/delete">Delete Checklist Item</a>
            <br>
            {% endfor %}
        </ul>
        </ul>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="/item/{{ items.id }}/complete">
            <button type="submit" class="btn btn-success">Complete Item</button>
        </form>
        <br>
        <form action="/item/{{ items.id }}/delete">
            <button type="submit" class="btn btn-danger">Delete Item</button>
        </form>
    </div>
</div>
{% endblock %}